<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: 'About Our Company'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		About Our Company
	</h1>
</div>
<table class="table table-bordered">
	<tr>
		<th>Company Name</th>
		<td>Fressets, Inc. (フレセッツ株式会社)</td>
	</tr><tr>
		<th>Board Members</th>
		<td>
			<div>
				<div style="font-weight:bold;">Masahiko Hyuga (日向 理彦)</div>
				<div style="padding-left:1em;">
					Founder, Chief Executive &amp; Technology Officer<br/>
					[ <a href="https://www.facebook.com/hyugam" target="_blank">Facebook</a> | <a href="https://www.linkedin.com/in/masahiko-hyuga-2a51b2a5" target="_blank">LinkedIn</a> ]
				</div>
			</div>
			<div style="margin-top:10px;">
				<div style="font-weight:bold;">Kunihiko Yogo (余語 邦彦)</div>
				<div style="padding-left:1em;">
					Founder, Chief Strategy Officer<br />
					[ <a href="https://www.facebook.com/yogo.kuni" target="_blank">Facebook</a> | <a href="https://www.linkedin.com/in/kuni-yogo-4782135/" target="_blank">LinkedIn</a> ]
				</div>
			</div>
		</td>
	</tr><tr>
		<th>Date of Establishment</th>
		<td>August, 2017</td>
	</tr><tr>
		<th>Address / Map</th>
		<td>
			<p>
				Postal Code (郵便番号): 〒113-0001<br />
				5F, Kobayashi Bldg, 1-31-9, Hakusan, Bunkyo-ku, Tokyo, Japan<br/>
				(東京都文京区白山1-31-9 小林ビル 5階)
			</p>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12957.387301160456!2d139.7363687460805!3d35.71768797000214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188db59c84915b%3A0xf463050751a625bc!2z44CSMTEzLTAwMDEg5p2x5Lqs6YO95paH5Lqs5Yy655m95bGx77yR5LiB55uu77yT77yRIOWwj-ael-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1500850460816" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</tr><tr>
		<th>Access</th>
		<td>
			<p>Hakusan St., Toei Mita-line - two-minutes walk</p>
			<p>
				Go up to the ground from the A1 exit, go to the right along the street and cross the crosswalk between seven-eleven and family-mart.<br/>
				Then, continue to the broadway and aim to the building at the beginning of a shopping mall.<br />
				A sign showing "アパマンショップ" and "酒処 じゃっかす" will be a landmark.<br />
				Go up to the 5th floor using an elevator next to アパマンショップ. Push an intercom.
			</p>
			<hr />
			<p>白山駅 (都営三田線) より徒歩約2分</p>
			<p>
				白山駅A1出口から地上にあがり、道路を右手へ進んだところにある、セブンイレブンとファミリーマートに挟まれている横断歩道を渡ってください。<br />
				そのまま右手方向にある大通り方向へお進みいただき、商店街との分かれ道の角にある建物を目指してください。<br />
				「アパマンショップ」「酒処 じゃっかす」といった看板が目印となります。<br />
				アパマンショップ横のエレベータより5階にお上がりいただき、インターホンを押してください。
			</p>
		</td>
	</tr><tr>
		<th>Our Business</th>
		<td>
			<ul>
				<li>Bitcoin / Cryptocurrency / Blockchain related software development.</li>
				<li>Bitcoin / Cryptocurrency / Blockchain related research and development.</li>
				<li>Bitcoin / Cryptocurrency / Blockchain education and cultivation of human resources.</li>
			</ul>
		</td>
	</tr>
</table>

<%- include('../99footer.ejs') %>

