<%# vim: set filetype=html: %>
<%- include('../00header.ejs', {title: 'About Our Company'}) %>
<section class="more-feature">
  <div class="container">
    <div class="page-header">
      <h1 class="mb-4">
        <t id="title"></t>
      </h1>
    </div>
    <table class="table table-bordered">
      <tr>
        <th><t id="company_name"></t></th>
        <td><t id="company_name_content"></t></td>
      </tr>
      <tr>
        <th><t id="board_members"></t></th>
        <td>
          <div>
            <div style="font-weight:bold;">
              <t id="board_member_name1"></t>
            </div>
            <div style="padding-left:1em;">
              <t id="board_member_content1"></t>
            </div>
          </div>
          <div style="margin-top:10px;">
            <div style="font-weight:bold;">
              <t id="board_member_name2"></t>
            </div>
            <div style="padding-left:1em;">
              <t id="board_member_content2"></t>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th><t id="date_of_the_establishment"></t></th>
        <td><t id="date_of_the_establishment_content"></t></td>
      </tr>
      <tr>
        <th><t id="address"></t></th>
        <td>
          <p>
            <t id="address_content"></t>
          </p>
        </td>
      </tr>
      <tr>
        <th><t id="contact_information"></t></th>
        <td><a href="javascript:FRESSETS.f.email();"><t id="contact_information_content"></t></a></td>
      </tr>
      <tr>
        <th><t id="number_of_employees"></t></th>
        <td><t id="number_of_employees_contents"></t></td>
      </tr>
      <tr>
        <th><t id="capital"></t></th>
        <td><t id="capital_content"></t></td>
      </tr>
      <tr>
        <th><t id="consulting_lawyer"></t></th>
        <td><t id="consulting_lawyer_content"></t></td>
      </tr>
    </table>
  </div>
</section>
<%- include('../99footer.ejs') %>
