<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: 'Contact Us'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		Contact Us
	</h1>
</div>

<p>Please send us an email to the following address.</p>
<blockquote>info [-at-] fressets.com</blockquote>
<p>(Please replace [-at-] to '@' character.)</p>

<%- include('../99footer.ejs') %>

