<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {title: 'Something went wrong...'}) %>

<div class="page-header">
	<h1>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		Something went wrong...
	</h1>
</div>

<div class="text-center">
	<img src="/img/error_eyecatch.png" alt="error eyecatch" style="width:100%;max-width:400px;" />
</div>

<div class="text-center">
	<p>Unfortunately, the page you are trying to access is currently unavailable.</p>
	<p>Please retry shortly. If it does not work, please contact us from <a href="/contact.html">here</a>.
</div>

<p class="text-center" style="margin-top:100px;">[ <a href="/"><span class="glyphicon glyphicon-home"></span> Homepage</a> ]</p>

<%- include('../99footer.ejs') %>

