<%# vim: set filetype=html: %>
<%- include('../00header.ejs', {title: 'Something went wrong...'}) %>
<section class="more-feature">
  <div class="container">
    <div class="page-header">
      <h1>
        Something went wrong...
      </h1>
    </div>
    <div class="text-center">
      <img src="/img/error_eyecatch.png" alt="error eyecatch" style="width:100%;max-width:400px;" />
    </div>
    <div class="text-center">
      <p>Unfortunately, the page you are trying to access is currently unavailable.</p>
      <p>Please retry shortly. If it does not work, please contact us from <a href="/#contact">here</a>.</p>
    </div>
    <p class="text-center" style="margin-top:100px;">[ <a href="/"><span class="glyphicon glyphicon-home"></span> Homepage</a> ]</p>
  </div>
</section>
<%- include('../99footer.ejs') %>
