<%# vim: set filetype=html: %>
<%- include('../00header.ejs', {fullTitle: 'Fressets, Inc. | Bitcoin / Cryptocurrency / Blockchain startup'}) %>
<!-- BANNER SLIDER CAROUSEL -->
<section class="banner">
  <div id="banner-slider" class="element_row">
    <!-- slider one -->
    <div class="item ">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl1.jpg');">
        <div class="slider-caption container">
          <div class="caption-content">
            <h1 class="bold text-white" data-animation="customFadeInUp" data-delay="0.1s">Perfect Template <br>
              to represent your business</h1>
            <p class="text-white" data-animation="customFadeInUp" data-delay="0.4s">Get it now and give a future to your business</p>
            <a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=sEl5hp8MEGs"><i class="fa fa-play play-icon" data-animation="customFadeInUp" data-delay="0.4s" aria-hidden="true"></i> <span data-animation="customFadeInUp" data-delay="0.4s">Click to see Video</span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- slider two -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl3.jpg');">
        <div class="slider-caption container">
          <div class="caption-content ">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Perfect Template <br>
              to represent your business</h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">Get it now and give a future to your business</p>
            <a target="_blank" href="#" class="btn btn-primary btn-default" data-animation="customFadeInUp" data-delay="0.4s">Get it now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- slider three -->
    <div class="item">
      <div class="bg-image-holder" style="background-image: url('img/home/slider/sl3a.jpg');">
        <div class="slider-caption container">
          <div class="caption-content caption-right">
            <h1 class="bold" data-animation="customFadeInUp" data-delay="0.1s">Perfect Template <br>
              to represent your business</h1>
            <p class="" data-animation="customFadeInUp" data-delay="0.4s">Get it now and give a future to your business</p>
            <a target="_blank" href="#" class="btn btn-primary btn-default"  data-animation="customFadeInUp" data-delay="0.4s">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FEATURE -->
<section class="home-feature bg-navy">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-bar-chart"></i>
          </div>
          <h4>Sales Effectiveness System</h4>
          <p>There are many variations of passa lorem Ipsum available but the ma</p>
        </div>
      </div>
      <div class="col-md-4 bg-gradient-navy">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-business-card"></i>
          </div>
          <h4>Focus on Customized Sales</h4>
          <p>There are many variations of passa lorem Ipsum available but the ma</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card feature_single">
          <div class="icon">
            <i class="ti-pie-chart2"></i>
          </div>
          <h4>Continuous Learn Approach</h4>
          <p>There are many variations of passa lorem Ipsum available but the ma</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="card feature_single">
        <div class="icon">
          <i class="ti-bar-chart"></i>
        </div>
        <h4>Sales Effectiveness System</h4>
        <p>There are many variations of passa lorem Ipsum available but the ma</p>
      </div>
    </div>
    <div class="col-md-4 bg-gradient-navy">
      <div class="card feature_single">
        <div class="icon">
          <i class="ti-business-card"></i>
        </div>
        <h4>Focus on Customized Sales</h4>
        <p>There are many variations of passa lorem Ipsum available but the ma</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card feature_single">
        <div class="icon">
          <i class="ti-pie-chart2"></i>
        </div>
        <h4>Continuous Learn Approach</h4>
        <p>There are many variations of passa lorem Ipsum available but the ma</p>
      </div>
    </div>
  </div>
</div>
</section>
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="card feature_single">
        <div class="icon">
          <i class="ti-bar-chart"></i>
        </div>
        <h4>Sales Effectiveness System</h4>
        <p>There are many variations of passa lorem Ipsum available but the ma</p>
      </div>
    </div>
    <div class="col-md-4 bg-gradient-navy">
      <div class="card feature_single">
        <div class="icon">
          <i class="ti-business-card"></i>
        </div>
        <h4>Focus on Customized Sales</h4>
        <p>There are many variations of passa lorem Ipsum available but the ma</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card feature_single">
        <div class="icon">
          <i class="ti-pie-chart2"></i>
        </div>
        <h4>Continuous Learn Approach</h4>
        <p>There are many variations of passa lorem Ipsum available but the ma</p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- WHY CHOOSE US -->
<section class="more-feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="more-feature-left">
          <div class="sectionTitle">
            <h2>Why Choose Us ?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
          </div>
          <div class="more-features">
            <div class="feature-icon">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
            <div class="feature-details">
              <h4>Deep Customization Process</h4>
              <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eius mtempor incid dolore magna aliqu.</p>
            </div>
          </div>
          <div class="more-features">
            <div class="feature-icon">
              <i class="fa fa-industry" aria-hidden="true"></i>
            </div>
            <div class="feature-details">
              <h4>Industry Specialization</h4>
              <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eius mtempor incid dolore magna aliqu.</p>
            </div>
          </div>
          <div class="more-features">
            <div class="feature-icon">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="feature-details">
              <h4>Unique Sales Methodoligies</h4>
              <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eius mtempor incid dolore magna aliqu.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="data-chart">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- COUNTING UP -->
<section class="countup-section bg-image" style="background-image: url('img/home/bg-counter1.jpg'); background-attachment: fixed;">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">
          <div class="counter">25</div>
          <span class="count">+</span>
          <h5>Destinations</h5>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">
          <div class="counter">45</div>
          <span class="count">+</span>
          <h5>tour pack</h5>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">
          <div class="counter">1250</div>
          <span class="count">+</span>
          <h5>happy clients</h5>
        </div>
      </div>
      <div class="col-sm-3 col-6">
        <div class="text-center single_block">
          <div class="counter">150</div>
          <span class="count">+</span>
          <h5>hours support</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- OUR PORTFOLIO -->
<section class="home-portfolio">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Our Portfolio</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="portfolio-project-details.html">
              <img class="img-full" data-original="img/home/gallery/g1.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/projetcs/p1.jpg"  class="icon link quick_view" data-fancybox="quick-view1" data-qw-form="qw-form-1"><i class="fa fa-search"></i></a>
                    <a href="portfolio-project-details.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                      <a class="quick_view" data-fancybox="quick-view1" href="img/projetcs/p1.jpg">#2</a>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-1" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="portfolio-project-details.html">
              <img class="img-full" data-original="img/home/gallery/g2.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g2.jpg"  class="icon link quick_view" data-fancybox="quick-view2" data-qw-form="qw-form-2"><i class="fa fa-search"></i></a>
                    <a href="portfolio-project-details.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                      <a class="quick_view" data-fancybox="quick-view2" href="img/home/gallery/g2.jpg">#2</a>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-2" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details 2</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="portfolio-project-details.html">
              <img class="img-full" data-original="img/home/gallery/g3.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g3.jpg"  class="icon link quick_view" data-fancybox="quick-view3" data-qw-form="qw-form-3"><i class="fa fa-search"></i></a>
                    <a href="portfolio-project-details.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                      <a class="quick_view" data-fancybox="quick-view3" href="img/home/gallery/g3.jpg">#2</a>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-3" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="portfolio-project-details.html">
              <img class="img-full" data-original="img/home/gallery/g4.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g4.jpg"  class="icon link quick_view" data-fancybox="quick-view4" data-qw-form="qw-form-4"><i class="fa fa-search"></i></a>
                    <a href="portfolio-project-details.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                      <a class="quick_view" data-fancybox="quick-view4" href="img/home/gallery/g4.jpg">#2</a>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-4" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="portfolio-project-details.html">
              <img class="img-full" data-original="img/home/gallery/g5.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/blog/p4.jpg"  class="icon link quick_view" data-fancybox="quick-view5" data-qw-form="qw-form-5"><i class="fa fa-search"></i></a>
                    <a href="portfolio-project-details.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                      <a class="quick_view" data-fancybox="quick-view5" href="img/blog/p4.jpg">#2</a>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-5" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card_img">
            <a href="portfolio-project-details.html">
              <img class="img-full" data-original="img/home/gallery/g6.jpg" />
              <div class="hover-overlay effect-scale">
                <div class="img_overlay-container">
                  <h4 class="img_overlay-title">Sales Organization</h4>
                  <p class="img_overlay-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod </p>
                  <div class="img_overlay-icon">
                    <a href="img/home/gallery/g6.jpg"  class="icon link quick_view" data-fancybox="quick-view6" data-qw-form="qw-form-6"><i class="fa fa-search"></i></a>
                    <a href="portfolio-project-details.html" class="icon link"><i class="fa fa-link"></i></a>
                    <span class="hidden">
                      <a class="quick_view" data-fancybox="quick-view6" href="img/home/gallery/g6.jpg">#2</a>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div id="qw-form-6" class="hidden">
            <div class="bg-image" style="background-image: url('img/projetcs/bg-projects.jpg');">
              <div class="project_specification">
                <h2 class="text-primary">Project Details</h2>
                <div class="row">
                  <div class="col-4 ">Clients:</div>
                  <div class="col-8 ">Jake Hemswire</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Category:</div>
                  <div class="col-8 ">Investment,Consulting</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Date:</div>
                  <div class="col-8 ">20 June, 2017</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Status:</div>
                  <div class="col-8 ">In Progress</div>
                </div>
                <div class="row">
                  <div class="col-4 ">Website: </div>
                  <div class="col-8  text-primary">www.info@example.com</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <a href="portfolio-projects.html" class="btn btn-default bg-navy bold">View More</a>
    </div>
  </div>
</section>
<!-- TESTIMONIAL SECTION -->
<section class="home-testimonial">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="promo-video bg-image" style="background-image: url('img/home/v-poster.jpg'); ">
          <div class="video-button video-box">
            <a href="javascript:void(0)">
              <i class="fa fa-play play-icon" aria-hidden="true" data-video="https://www.youtube.com/watch?v=4DTH0Kgn3lE"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Right column -->
      <div class="col-md-6">
        <div class="bg-image" style="background-image: url('img/home/t-poster.jpg'); ">
          <div id="home-testimonial" class="">
            <div class="card ">
              <div class="card_img">
                <img class="img-full" src="img/home/cl1.jpg" alt="Card image">
              </div>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion</p>
                <h4 class="text-white">Julia Robertson</h4>
                <span class="text-primary">Happy Client</span>
              </div>
            </div>
            <div class="card ">
              <div class="card_img">
                <img class="img-full" src="img/home/cl2.jpg" alt="Card image">
              </div>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion</p>
                <h4 class="text-white">Julia Robertson</h4>
                <span class="text-primary">Happy Client</span>
              </div>
            </div>
            <div class="card ">
              <div class="card_img">
                <img class="img-full" src="img/home/cl3.jpg" alt="Card image">
              </div>
              <div class="card-block">
                <p>Lorem ipsum dolor sit amet constur adipisicing elit, sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion</p>
                <h4 class="text-white">Julia Robertson</h4>
                <span class="text-primary">Happy Client</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right column -->
    </div>
  </div>
</section>
<!-- OUR PORTFOLIO -->
<section class="home-services">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Our Services</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-line-chart"></i>
          </div>
          <div class="media-content">
            <a href="service-details-left-sidebar.html">
              <h4>Consultative Training</h4>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-credit-card"></i>
          </div>
          <div class="media-content">
            <a href="service-details-right-sidebar.html">
              <h4>High Performance Selling</h4>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <div class="media-content">
            <a href="service-details-fullwidth.html">
              <h4>Sales Coaching Training</h4>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-tripadvisor"></i>
          </div>
          <div class="media-content">
            <a href="service-details-left-sidebar.html">
              <h4>Advisor Program</h4>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="fa fa-address-card-o"></i>
          </div>
          <div class="media-content">
            <a href="service-details-right-sidebar.html">
              <h4>Selling With Insights</h4>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="media-box">
          <div class="media-icon">
            <i class="ti-ebook"></i>
          </div>
          <div class="media-content">
            <a href="service-details-fullwidth.html">
              <h4>Consultative Training</h4>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmotempor incididunt ut labore</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FORM -->
<section class="home-form bg-navy" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h2>Get a Quote </h2>
        <form class="row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="userName" placeholder="Your Name">
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="userPhone" placeholder="Phone">
          </div>
          <div class="form-group col-md-6 selectOptions">
            <select name="topic" class="form-control select-drop">
              <option>Select a topic</option>
              <option>Topic 1</option>
              <option>Topic 2</option>
              <option>Topic 3</option>
            </select>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-default btn-primary">Send Request</button>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="promo-img">
          <img data-original="img/home/bg-form.png" alt="promo">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- OUR TEAM -->
<section class="home-team">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="sectionTitle text-center">
          <h2>Our Professional</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="img-full" data-original="img/home/about/team1.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html">
              <h4 class="card-title">Julia Robertson</h4>
            </a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="card-img-top img-full" src="img/home/about/team2.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html">
              <h4 class="card-title">Charles Nicholes</h4>
            </a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="img-full" data-original="img/home/about/team3.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html">
              <h4 class="card-title">Julia Robertson</h4>
            </a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-style2 team-card">
          <div class="card_img">
            <img class="img-full" data-original="img/home/about/team4.jpg" alt="Card image">
            <div class="hover-overlay effect-scale">
              <a href="" class="overlay_icon"><i class="fa fa-facebook-f"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-twitter"></i></a>
              <a href="" class="overlay_icon"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="card-block">
            <a href="page-member-details.html">
              <h4 class="card-title">Julia Robertson</h4>
            </a>
            <span class="">Co-Founder</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BRANDS -->
<div class="brand_carousel bg-navy">
  <div class="container">
    <div class="slick_brands">
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b1.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b2.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b3.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b4.png" alt="brands">
        </div>
      </div>
      <div class="brand_single">
        <div class="brand_img">
          <img src="img/home/about/b1.png" alt="brands">
        </div>
      </div>
    </div>
  </div>
</div>
<section class="home-blog">
  <div class="container">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="sectionTitle text-center">
          <h2>Latest From Blog</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm temp</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->
    <div class="row">
      <div class="col-md-4">
        <div class="card card-style3">
          <div class="card_img">
            <a href="blog-singlepost-left-sidebar.html"><img class="img-full" data-original="img/blog/blog1.jpg" alt="Card image"></a>
            <div class="date-holder bg-primary">
              <span>25</span>
              Feb
            </div>
          </div>
          <div class="card-block">
            <ul class="list-inline">
              <li>
                <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> <span class="text-primary">Admin</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 350</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
              </li>
            </ul>
            <a href="blog-singlepost-left-sidebar.html">
              <h4 class="card-title">Finibus Bonorum Malor.</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-style3">
          <div class="card_img">
            <a href="blog-singlepost-left-sidebar.html"><img class="img-full" data-original="img/blog/blog2.jpg" alt="Card image"></a>
            <div class="date-holder bg-primary">
              <span>25</span>
              Feb
            </div>
          </div>
          <div class="card-block">
            <ul class="list-inline">
              <li>
                <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> <span class="text-primary">Admin</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 350</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
              </li>
            </ul>
            <a href="blog-singlepost-left-sidebar.html">
              <h4 class="card-title">Finibus Bonorum Malor.</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-style3">
          <div class="card_img">
            <a href="blog-singlepost-left-sidebar.html"><img class="img-full" data-original="img/blog/blog3.jpg" alt="Card image"></a>
            <div class="date-holder bg-primary">
              <span>25</span>
              Feb
            </div>
          </div>
          <div class="card-block">
            <ul class="list-inline">
              <li>
                <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> <span class="text-primary">Admin</span></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 350</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 30</a>
              </li>
            </ul>
            <a href="blog-singlepost-left-sidebar.html">
              <h4 class="card-title">Finibus Bonorum Malor.</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="morphing-content" class="hidden">
  <!-- FORM -->
  <section class="home-form" id="quote">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Get a Quote </h2>
          <form class="row pb30">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="exampleInputName" aria-describedby="userName" placeholder="Your Name">
            </div>
            <div class="form-group col-md-6">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="exampleInputPhone" aria-describedby="userPhone" placeholder="Phone">
            </div>
            <div class="form-group col-md-6 selectOptions">
              <select name="topic" class="form-control select-drop">
                <option>Select a Topic</option>
                <option>Topic 1</option>
                <option>Topic 2</option>
                <option>Topic 3</option>
              </select>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-default bg-navy">Send Request</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="newsletter bg-sand">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <h4><span class="text-primary">Subscribe</span> <br>
          For Latest <span class="text-primary">Update</span></h4>
      </div>
      <div class="col-lg-9 col-12">
        <form >
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="userName" placeholder="Your name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="userEmail" placeholder="Your email">
          </div>
          <button class="btn btn-primary btn-default bold">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('../99footer.ejs') %>
