<%# vim: set filetype=html: %>

<%- include('../00header.ejs', {fullTitle: 'Fressets, Inc. | Bitcoin / Cryptocurrency / Blockchain startup'}) %>

<div id="home-eyecatch">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-11"><h1><span>Fressets, Inc.</span></h1></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<ul>
				<li><div><span class="glyphicon glyphicon-bitcoin"></span> Cryptocurrency Software Products</div></li>
				<li><div><span class="glyphicon glyphicon-cog"></span> Cryptocurrency Consulting / R&amp;D</div></li>
				<li><div><span class="glyphicon glyphicon-phone"></span> Other System Developments / Consulting</div></li>
			</ul>
		</div>
	</div>
</div>

<div class="page-header">
	<h2>
		<span class="decoration-bar-1"></span>
		<span class="decoration-bar-2"></span>
		<span class="decoration-bar-3"></span>
		News
	</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<table id="news" class="table table-bordered">
			<caption>
				<p class="text-center">Recent Activity</p>
			</caption>
			<tbody>
				<tr>
					<th style="width:10em;">Date</th>
					<th style="width:auto;">Content</th>
				</tr>
				<tr>
					<th>August 7, 2017</th>
					<td>Incorporated.</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<a class="twitter-timeline" data-lang="en" data-theme="light" href="https://twitter.com/fressets" height="600">Tweets by @fressets</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>


<%- include('../99footer.ejs') %>

