<%# vim: set filetype=html: %>
		
		</div>
		
		<footer>
			<div class="container">
				<div class="pull-left">
					<p>Copyright &copy; Fressets, Inc 2017-<%= new Date().getFullYear() %>. All rights reserved.</p>
					<p style="font-size:70%;">version: __GIT_COMMIT_HASH__</p>
				</div>
				<div class="pull-right">
					[ Source Code is Available at <a href="https://github.com/fressets/fressets-web" target="_blank">GitHub</a> ]
				</div>
			</div>
		</footer>
		
	</body>
</html>

