<%# vim: set filetype=html: %>
</div>
<footer>
  <div class="container">
    <div class="pull-left">
      <p>Copyright &copy; Fressets, Inc 2017-<%= new Date().getFullYear() %>. All rights reserved.</p>
      <p style="font-size:70%;">version: __GIT_COMMIT_HASH__</p>
    </div>
    <div class="pull-right">
      [ Source Code is Available at <a href="https://github.com/fressets/fressets-web" target="_blank">GitHub</a> ]
    </div>
  </div>
</footer>
<!-- JAVASCRIPTS -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"
async defer></script> -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsQdSlW4vj5RvXp2_pLnv1s1ErfxjM5_o"></script>
<script src="/plugins/bootstrap/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="/plugins/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/plugins/circle-progress/jquery.appear.js"></script>
<script src="/plugins/isotope/isotope.min.js"></script>
<script src="/plugins/lazyload/lazyload.min.js"></script>
<script src="/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="/plugins/fancybox/fancyMorph.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="/plugins/counterUp/jquery.counterup.js"></script>
<script src="/plugins/smoothscroll/SmoothScroll.js"></script>
<script src="/plugins/velocity/velocity.min.js"></script>
<script src="/plugins/syotimer/jquery.syotimer.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>
